version 5.241.2

source https://api.nuget.org/v3/index.json
storage: none
framework: net5.0, net6.0

nuget FSharp.Core
nuget Dapper
nuget Microsoft.Data.SqlClient
nuget Microsoft.Extensions.Configuration.Json
nuget MySql.Data
nuget Npgsql
nuget Microsoft.SourceLink.GitHub copy_local: true
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit3TestAdapter
nuget coverlet.collector

group Build
    source https://api.nuget.org/v3/index.json
    framework: net6.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
